flat_trivial.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.org/trivial">
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="simpleRestrictionForward">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="tns:simpleRestriction"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="simpleRestriction">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="simpleList">
  <list xmlns="http://www.w3.org/2001/XMLSchema" itemType="tns:simpleRestriction"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="simpleListForward">
  <list xmlns="http://www.w3.org/2001/XMLSchema" itemType="tns:anon19"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon19">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="simpleListInner">
  <list xmlns="http://www.w3.org/2001/XMLSchema" itemType="tns:anon:anon0"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="simpleUnion">
  <union xmlns="http://www.w3.org/2001/XMLSchema" memberTypes="tns:simpleRestriction tns:simpleRestrictionForward"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="simpleUnionForward">
  <union xmlns="http://www.w3.org/2001/XMLSchema" memberTypes="tns:simpleRestriction tns:anon20"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon20">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="simpleUnionInner">
  <union xmlns="http://www.w3.org/2001/XMLSchema" memberTypes="tns:anon:anon1 tns:anon:anon2"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="simpleUnionMixed">
  <union xmlns="http://www.w3.org/2001/XMLSchema" memberTypes="string tns:anon:anon3"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="simpleUnionOne">
  <union xmlns="http://www.w3.org/2001/XMLSchema" memberTypes="string"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="simpleUnionOneInner">
  <union xmlns="http://www.w3.org/2001/XMLSchema" memberTypes="tns:anon:anon4"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="simpleListUnion">
  <list xmlns="http://www.w3.org/2001/XMLSchema" itemType="tns:simpleUnion"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="simpleListUnionInner">
  <list xmlns="http://www.w3.org/2001/XMLSchema" itemType="tns:anon:anon5"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="simpleUnionList">
  <union xmlns="http://www.w3.org/2001/XMLSchema" memberTypes="tns:simpleList tns:simpleListForward"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="simpleUnionListInner">
  <union xmlns="http://www.w3.org/2001/XMLSchema" memberTypes="tns:anon:anon6 tns:anon:anon7"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="simpleUnionUnion">
  <union xmlns="http://www.w3.org/2001/XMLSchema" memberTypes="tns:simpleUnion tns:anon:anon8"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="simpleUnionListUnion">
  <union xmlns="http://www.w3.org/2001/XMLSchema" memberTypes="string tns:anon:anon11 tns:anon:anon12"/>
 </simpleType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexEmpty"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexSimpleExtension">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
  </simpleContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexSimpleExtensionForward">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="tns:anon1"/>
  </simpleContent>
 </complexType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon1">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexSimpleRestriction">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="tns:complexSimpleExtension"/>
  </simpleContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexSimpleRestrictionForward">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="tns:anon2"/>
  </simpleContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon2">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
  </simpleContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexComplexExtension">
  <complexContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="tns:complexEmpty"/>
  </complexContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexComplexExtensionForward">
  <complexContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="tns:anon3"/>
  </complexContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon3"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexComplexRestriction">
  <complexContent xmlns="http://www.w3.org/2001/XMLSchema">
   <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="tns:complexEmpty"/>
  </complexContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexComplexRestrictionForward">
  <complexContent xmlns="http://www.w3.org/2001/XMLSchema">
   <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="tns:anon4"/>
  </complexContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon4"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="string" name="globalAttributeString"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:simpleRestriction" name="globalAttribute"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon7" name="globalAttributeForward"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon7">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon13" name="globalAttributeInner"/>
 <attributeGroup xmlns="http://www.w3.org/2001/XMLSchema" name="agSimpleInner">
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:agSimple1"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:agSimple2"/>
 </attributeGroup>
 <attributeGroup xmlns="http://www.w3.org/2001/XMLSchema" name="agSimpleInnerForward">
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:agSimple3"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:agSimple4"/>
 </attributeGroup>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon8">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon9">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <attributeGroup xmlns="http://www.w3.org/2001/XMLSchema" name="agSimpleInnerInner">
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:agSimple5"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:agSimple6"/>
 </attributeGroup>
 <attributeGroup xmlns="http://www.w3.org/2001/XMLSchema" name="agSimpleRef">
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:globalAttribute"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:globalAttributeForward"/>
 </attributeGroup>
 <attributeGroup xmlns="http://www.w3.org/2001/XMLSchema" name="agSimpleRefForward">
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:anon10"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:anon11"/>
 </attributeGroup>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="string" name="anon10"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="string" name="anon11"/>
 <attributeGroup xmlns="http://www.w3.org/2001/XMLSchema" name="agBackward"/>
 <attributeGroup xmlns="http://www.w3.org/2001/XMLSchema" name="agForward"/>
 <attributeGroup xmlns="http://www.w3.org/2001/XMLSchema" name="anon12">
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:globalAttributeForward"/>
 </attributeGroup>
 <attributeGroup xmlns="http://www.w3.org/2001/XMLSchema" name="anon18"/>
 <attributeGroup xmlns="http://www.w3.org/2001/XMLSchema" name="agTest">
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:anon13"/>
 </attributeGroup>
 <attributeGroup xmlns="http://www.w3.org/2001/XMLSchema" name="anon14">
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:anon10"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:anon15"/>
 </attributeGroup>
 <attributeGroup xmlns="http://www.w3.org/2001/XMLSchema" name="anon16">
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:anon17"/>
 </attributeGroup>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="string" name="simpleElement"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:simpleRestriction" name="simpleElementCustom"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon21" name="simpleElementCustomForward"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon21">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon17" name="simpleElementCustomInner"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon22">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="string">
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:globalAttribute"/>
   </extension>
  </simpleContent>
 </complexType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" name="simpleAttribute"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon23">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="string">
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:innerAttribute1"/>
   </extension>
  </simpleContent>
 </complexType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon23" name="simpleInnerAttribute"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon24">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="string">
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:innerAttribute2"/>
   </extension>
  </simpleContent>
 </complexType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon24" name="simpleInnerAttributeCustom"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon25">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="string">
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:innerAttribute3"/>
   </extension>
  </simpleContent>
 </complexType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon25" name="simpleInnerAttributeInner"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon20" name="simpleInnerAttributeInnerInner"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:complexEmpty" name="complexEmpty"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon26" name="complexEmptyForward"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon26"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon21" name="complexEmptyInner"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexSimpleExtensionAttribute">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="string">
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:extensionAttibute1"/>
   </extension>
  </simpleContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexSimpleExtensionAttributeInner">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="string">
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:extensionAttibute2"/>
   </extension>
  </simpleContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexSimpleExtensionAttributeRef">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="string">
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:globalAttribute"/>
   </extension>
  </simpleContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexComplexExtensionAttribute">
  <complexContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="tns:complexEmpty">
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:extensionAttibute3"/>
   </extension>
  </complexContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexComplexExtensionAttributeInner">
  <complexContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="tns:complexEmpty">
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:extensionAttibute4"/>
   </extension>
  </complexContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexComplexExtensionAttributeRef">
  <complexContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="tns:complexEmpty">
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:globalAttribute"/>
   </extension>
  </complexContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexComplexExtensionAttribute2Ref">
  <complexContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="tns:complexComplexExtensionAttributeRef">
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:globalAttributeForward"/>
   </extension>
  </complexContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexComplexExtensionElementRef">
  <complexContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="tns:complexEmpty">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
     <element xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:complexEmpty"/>
    </sequence>
   </extension>
  </complexContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexComplexExtensionElementInner">
  <complexContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="tns:complexEmpty">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
     <element xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:anon27"/>
    </sequence>
   </extension>
  </complexContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexComplexExtensionElementInnerCustom">
  <complexContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="tns:complexEmpty">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
     <element xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:anon27"/>
    </sequence>
   </extension>
  </complexContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexComplexExtensionElementInnerCustomInner">
  <complexContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="tns:complexEmpty">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
     <element xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:anon27"/>
    </sequence>
   </extension>
  </complexContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="complexComplexAlreadyExtension">
  <complexContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="tns:complexComplexExtensionElementInnerCustomInner">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
     <element xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:anon28"/>
    </sequence>
   </extension>
  </complexContent>
 </complexType>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:simpleList" name="listAttribute"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon26" name="listAttributeInner"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon28" name="listAttributeInnerInner"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:simpleUnion" name="unionAttribute"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon29" name="unionAttributeInner"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon32" name="unionAttributeInnerInner"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon34" name="veryComplex"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon35" name="loop"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon0">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon1">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="tns:simpleRestriction"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon2">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon3">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="tns:simpleRestriction"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon4">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="tns:simpleRestriction"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon5">
  <union xmlns="http://www.w3.org/2001/XMLSchema" memberTypes="tns:simpleRestriction"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon6">
  <list xmlns="http://www.w3.org/2001/XMLSchema" itemType="string"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon7">
  <list xmlns="http://www.w3.org/2001/XMLSchema" itemType="tns:simpleRestriction"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon8">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon9">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon10">
  <union xmlns="http://www.w3.org/2001/XMLSchema" memberTypes="string tns:anon:anon9"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon11">
  <list xmlns="http://www.w3.org/2001/XMLSchema" itemType="tns:anon:anon10"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon12">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon13">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="string" name="agSimple1"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="string" name="agSimple2"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon8" name="agSimple3"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon9" name="agSimple4"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon14">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon14" name="agSimple5"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon15">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon15" name="agSimple6"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon1" name="anon13"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:simpleRestriction" name="anon15"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon16">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="tns:anon9"/>
 </simpleType>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon16" name="anon17"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon17">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="string" name="innerAttribute1"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:simpleRestriction" name="innerAttribute2"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon18">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon18" name="innerAttribute3"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon19">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon19" name="innerAttribute4"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon20">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="string">
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:innerAttribute4"/>
   </extension>
  </simpleContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon21"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="string" name="extensionAttibute1"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon22">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon22" name="extensionAttibute2"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="string" name="extensionAttibute3"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon23">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon23" name="extensionAttibute4"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="string" name="anon27"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:simpleRestriction" name="anon27"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon24">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon24" name="anon27"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon25">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon25" name="anon28"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon26">
  <list xmlns="http://www.w3.org/2001/XMLSchema" itemType="string"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon27">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon28">
  <list xmlns="http://www.w3.org/2001/XMLSchema" itemType="tns:anon:anon27"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon29">
  <union xmlns="http://www.w3.org/2001/XMLSchema" memberTypes="tns:simpleList string"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon30">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="tns:simpleList"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon31">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon32">
  <union xmlns="http://www.w3.org/2001/XMLSchema" memberTypes="tns:anon:anon30 tns:anon:anon31"/>
 </simpleType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:complexComplexAlreadyExtension" name="anon29"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon33">
  <complexContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="tns:complexComplexRestriction">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
     <element xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:anon29"/>
    </sequence>
   </extension>
  </complexContent>
 </complexType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon33" name="anon30"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon34">
  <sequence xmlns="http://www.w3.org/2001/XMLSchema">
   <element xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:simpleElementCustom"/>
   <choice xmlns="http://www.w3.org/2001/XMLSchema">
    <element xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:simpleElement"/>
    <element xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:anon30"/>
   </choice>
  </sequence>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon35">
  <sequence xmlns="http://www.w3.org/2001/XMLSchema">
   <element xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:loop"/>
  </sequence>
 </complexType>
</schema>
