flat_xmltv.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://juriad.local/xmltv" attributeFormDefault="unqualified">
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon21" name="tv"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="urlType">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="anyURI"/>
 </simpleType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:urlType" name="url"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon22" name="icon"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="urlOrValueType">
  <union xmlns="http://www.w3.org/2001/XMLSchema" memberTypes="tns:urlType tns:valueType"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="episode-numType">
  <union xmlns="http://www.w3.org/2001/XMLSchema" memberTypes="tns:anon:anon23 tns:anon:anon24"/>
 </simpleType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="languageType">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="tns:simpleWithLangType"/>
  </simpleContent>
 </complexType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="yesNoType">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="token"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="dateType">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="token"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="simpleValueType">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="tns:valueType"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="valueType">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <attributeGroup xmlns="http://www.w3.org/2001/XMLSchema" name="langGroup">
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" use="optional" ref="tns:lang"/>
 </attributeGroup>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="simpleWithLangType">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="tns:simpleValueType">
    <attributeGroup xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:langGroup"/>
   </extension>
  </simpleContent>
 </complexType>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="withLangType">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="token">
    <attributeGroup xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:langGroup"/>
   </extension>
  </simpleContent>
 </complexType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="personType">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="tns:simpleValueType"/>
 </simpleType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:simpleWithLangType" name="display-name"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" use="required" type="token" name="id"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon0">
  <sequence xmlns="http://www.w3.org/2001/XMLSchema">
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:icon"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:url"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" maxOccurs="unbounded" ref="tns:display-name"/>
  </sequence>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" use="required" ref="tns:id"/>
 </complexType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon0" name="channel"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:simpleWithLangType" name="title"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:simpleWithLangType" name="sub-title"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:withLangType" name="desc"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:personType" name="director"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:simpleValueType" name="role"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon1">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="tns:personType">
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:role"/>
   </extension>
  </simpleContent>
 </complexType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon1" name="actor"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:personType" name="writer"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:personType" name="adapter"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:personType" name="producer"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:personType" name="composer"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:personType" name="editor"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:personType" name="presenter"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:personType" name="commentator"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:personType" name="guest"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon2">
  <sequence xmlns="http://www.w3.org/2001/XMLSchema">
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:director"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:actor"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:writer"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:adapter"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:producer"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:composer"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:editor"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:presenter"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:commentator"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:guest"/>
  </sequence>
 </complexType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon2" name="credits"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:dateType" name="date"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:simpleWithLangType" name="category"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:languageType" name="language"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:languageType" name="orig-language"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon3">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="token"/>
 </simpleType>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon3" name="units"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon4">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="nonNegativeInteger">
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:units"/>
   </extension>
  </simpleContent>
 </complexType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon4" name="length"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:simpleWithLangType" name="country"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" default="onscreen" type="tns:simpleValueType" name="system"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon5">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="tns:episode-numType">
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" default="onscreen" ref="tns:system"/>
   </extension>
  </simpleContent>
 </complexType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon5" name="episode-num"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:yesNoType" name="present"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:yesNoType" name="colour"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon6">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="token"/>
 </simpleType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon6" name="aspect"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:simpleValueType" name="quality"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon7">
  <sequence xmlns="http://www.w3.org/2001/XMLSchema">
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:present"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:colour"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:aspect"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:quality"/>
  </sequence>
 </complexType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon7" name="video"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:yesNoType" name="present"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon8">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="token"/>
 </simpleType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon8" name="stereo"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon9">
  <sequence xmlns="http://www.w3.org/2001/XMLSchema">
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:present"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:stereo"/>
  </sequence>
 </complexType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon9" name="audio"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:dateType" name="start"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:simpleValueType" name="channel"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon10">
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:start"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:channel"/>
 </complexType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon10" name="previously-shown"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:withLangType" name="premiere"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:withLangType" name="last-chance"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon11"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon11" name="new"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:languageType" name="language"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon12">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="token"/>
 </simpleType>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon12" name="type"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon13">
  <sequence xmlns="http://www.w3.org/2001/XMLSchema">
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:language"/>
  </sequence>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:type"/>
 </complexType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon13" name="subtitles"/>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:valueType" name="value"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="token" name="system"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon14">
  <sequence xmlns="http://www.w3.org/2001/XMLSchema">
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:icon"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:value"/>
  </sequence>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:system"/>
 </complexType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon14" name="rating"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon15">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="tns:simpleValueType"/>
 </simpleType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon15" name="value"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon16">
  <sequence xmlns="http://www.w3.org/2001/XMLSchema">
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:icon"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:value"/>
  </sequence>
 </complexType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon16" name="star-rating"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon17">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="token"/>
 </simpleType>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" use="required" type="tns:anon:anon17" name="type"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:simpleValueType" name="source"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:personType" name="reviewer"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon18">
  <simpleContent xmlns="http://www.w3.org/2001/XMLSchema">
   <extension xmlns="http://www.w3.org/2001/XMLSchema" base="tns:urlOrValueType">
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" use="required" ref="tns:type"/>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:source"/>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:reviewer"/>
   </extension>
  </simpleContent>
 </complexType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon18" name="review"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" use="required" type="tns:dateType" name="start"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:dateType" name="stop"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="string" name="pdc-start"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="string" name="vps-start"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="string" name="showview"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="string" name="videoplus"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" use="required" type="tns:simpleValueType" name="channel"/>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon19">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="tns:simpleValueType"/>
 </simpleType>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" default="0/1" type="tns:anon:anon19" name="clumpidx"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon20">
  <sequence xmlns="http://www.w3.org/2001/XMLSchema" maxOccurs="unbounded">
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:icon"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:url"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:title"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:sub-title"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:desc"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:credits"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:date"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:category"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:language"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:orig-language"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:length"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:country"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:episode-num"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:video"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:audio"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:previously-shown"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:premiere"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:last-chance"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:new"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:subtitles"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:rating"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:star-rating"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" ref="tns:review"/>
  </sequence>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" use="required" ref="tns:start"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:stop"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:pdc-start"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:vps-start"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:showview"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:videoplus"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" use="required" ref="tns:channel"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" default="0/1" ref="tns:clumpidx"/>
 </complexType>
 <element xmlns="http://www.w3.org/2001/XMLSchema" type="tns:anon:anon20" name="programme"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:dateType" name="date"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:urlType" name="source-info-url"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:simpleValueType" name="source-info-name"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:urlType" name="source-data-url"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:simpleValueType" name="generator-info-name"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="tns:urlType" name="generator-info-url"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon21">
  <sequence xmlns="http://www.w3.org/2001/XMLSchema">
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:channel"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0" maxOccurs="unbounded" ref="tns:programme"/>
  </sequence>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:date"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:source-info-url"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:source-info-name"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:source-data-url"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:generator-info-name"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:generator-info-url"/>
 </complexType>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" use="required" type="anyURI" name="src"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="positiveInteger" name="width"/>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" type="positiveInteger" name="height"/>
 <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon22">
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" use="required" ref="tns:src"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:width"/>
  <attribute xmlns="http://www.w3.org/2001/XMLSchema" ref="tns:height"/>
 </complexType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon23">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="token"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon24">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="string"/>
 </simpleType>
 <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="anon:anon25">
  <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="token"/>
 </simpleType>
 <attribute xmlns="http://www.w3.org/2001/XMLSchema" use="optional" type="tns:anon:anon25" name="lang"/>
</schema>
