NewFile2.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewXMLSchema"
	xmlns:tns="http://www.example.org/NewXMLSchema" elementFormDefault="qualified">

	<group name="g">
		<sequence>
			<element name="e" type="string"></element>
		</sequence>
	</group>

	<group name="h">
		<sequence>
			<element name="f" type="string"></element>
		</sequence>
	</group>

	<element name="c">
		<complexType>
			<choice>
				<sequence>
					<element name="e" type="string"></element>
				</sequence>
				<sequence>
					<element name="f" type="string"></element>
				</sequence>
			</choice>
		</complexType>
	</element>

</schema>