tests/test.xsd.blocked

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/test"
	xmlns:tns="http://www.example.org/test" elementFormDefault="qualified">
	<element name="root">
		<complexType>
			<sequence>
				<element name="integer" default="325">
					<simpleType>
						<restriction base="integer"></restriction>
					</simpleType>
				</element>
				<element name="uunsignedShort">
					<simpleType>
						<restriction base="unsignedShort"></restriction>
					</simpleType>
				</element>
				<element name="alist">
					<simpleType>
						<list itemType="string">
						</list>
					</simpleType>
				</element>
				<element name="bbyte" type="byte">
				</element>
				<element name="list">
					<simpleType>
						<list itemType="boolean">
						</list>
					</simpleType>
				</element>
				<element name="llong">
					<simpleType>
						<restriction base="long"></restriction>
					</simpleType>
				</element>
				<element name="llist">
					<simpleType>
						<list itemType="integer">
						</list>
					</simpleType>
				</element>
				<element name="stris" type="tns:strings"></element>
				<element name="boolean">
					<simpleType>
						<restriction base="boolean"></restriction>
					</simpleType>
				</element>
				<element name="dates" type="tns:dates"></element>
			</sequence>
		</complexType>
	</element>

	<complexType name="dates">
		<sequence>
			<element name="date" type="date"></element>
			<element name="time" type="time"></element>
			<element name="dateTime" type="dateTime"></element>
		</sequence>
		<attribute name="ate" type="string"></attribute>
	</complexType>

	<complexType name="strings">
		<sequence>
			<element name="tok" type="token"></element>
			<element name="stri" type="string"></element>
			<element name="norma" type="normalizedString"></element>
		</sequence>
		<attribute name="attr" type="date" default="2011-10-1"></attribute>
	</complexType>
</schema>